{% extends "@HarmonyUser/layout.html.twig" %}

{% trans_default_domain 'UserBundle' %}

{% block harmony_user_body %}
    {{ form_start(form, { method: 'POST', action: path('harmony_user_login') }) }}
    {{ form_row(form._username) }}
    {{ form_row(form._password) }}
    <div>
        {{ form_widget(form._token) }}
        <button type="submit">{{ 'login.submit.button'|trans }}</button>
    </div>
    {{ form_end(form) }}

    <div>
        <a href="{{ path('harmony_user_password_request') }}" class="">{{ 'login.request_password'|trans }}</a><br>
        <a href="{{ path('harmony_user_register') }}" class="">{{ 'login.register'|trans }}</a>
    </div>
{% endblock harmony_user_body %}