{% extends "@HarmonyUser/layout.html.twig" %}

{% trans_default_domain 'UserBundle' %}

{% block title %}{{ 'register.title'|trans }}{% endblock title %}

{% block harmony_user_body %}
  {{ form_start(form) }}
  {{ form_row(form.email) }}
  {{ form_row(form.username) }}
  {{ form_row(form.plainPassword.first) }}
  {{ form_row(form.plainPassword.second) }}
  <div>
    {{ form_widget(form._token) }}
    <button type="submit">{{ 'registration.submit.button'|trans }}</button>
  </div>
  {{ form_end(form) }}
{% endblock harmony_user_body %}