{% extends "@HarmonyUser/layout.html.twig" %}

{% trans_default_domain 'UserBundle' %}

{% block title %}Password reset{% endblock title %}

{% block harmony_user_body %}
    {{ form_start(form, { method: 'POST', action: path('harmony_user_password_request_send') }) }}
    {{ form_row(form.username) }}
    <div>
        {{ form_widget(form._token) }}
        <button type="submit">{{ 'password.request.button'|trans }}</button>
    </div>
    {{ form_end(form) }}
{% endblock harmony_user_body %}